.background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #232425;

  &__dimmer {
    position: absolute;
    z-index: 5;
    min-width: 100%;
    min-height: 100%;

    background-color: rgba(35, 36, 37, 0.7);
  }

  &__img {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;

    filter: blur(2px);

    // background-image: url("../images/backgrounds/kimi-no-na-wa-2.png");
    background-size: cover;
    background-position: center center;
  }
}